@use '../sass/abstracts/mixins';

.grid {
    //background-color: pink;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 1rem;
//     @include mixins.breakpoint(tablet) {
//         grid-template-columns: 1fr 1fr 1fr;
//     }
//     @include mixins.breakpoint(laptop) {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//     }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        width: 50%;
        //background-color: yellow;
        text-align: center;
        @include mixins.breakpoint(tablet) {
            width: calc(100% / 3);
        }
        @include mixins.breakpoint(tablet) {
            width: calc(100% / 4);
        }
    }
}